<!DOCTYPE html>
<html>
  <head>
    <title>Lukes Dang Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><%=link_to "Home Page", products_path%></li>
          <li><%=link_to "New Product", new_product_path%></li>
        </ul>
      </nav>
      
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
